.stim {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stim-target-text {
  text-stroke: 2px black;
  /* 兼容Webkit(Chrome/Safari)内核浏览器的写法 */
  -webkit-text-stroke: 2px rgb(214, 214, 214);
  /* text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black; */
}
.stim-block-container {
  overflow: hidden;
  position: absolute;
}
.stim-block-grid-tmp {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(8, 10px);
  grid-template-rows: repeat(8, 10px);
  flex-wrap: wrap;
  gap: 7px;
  padding: 4px;
  /* width: 300px; */
  margin: auto;
  position: absolute;
  top: 0;
}
.stim-block-item {
  background: #5C5C5C;
}